body{
    background-image: url("./assets/background.webp") ;
    background-repeat: no-repeat;
    background-size: cover;

}


.container {
    background-color: antiquewhite;
    margin: 50px auto;
    padding: 50px 50px;
    border-radius: 10px;
    align-items: center;
    max-width: 800px;
}

.boxAnswers {
    height: 40px;
    width: auto;
    padding: 5px 20px 20px 20px;
    border-radius:20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-weight: 700;
    background-color: rgb(200, 224, 226);
    
}
.boxAnswersClicked{
    height: 40px;
    width: auto;
    padding: 5px 20px 20px 20px;
    border-radius:20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-weight: 700;
    background-color: rgb(206, 162, 74);

}

.answers-container{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
}